<%= link_to user_path(user) do %>
  <div class='flex w-full justify-center'>
    <div class='w-full flex justify-between'>
      <div>
        <div class='bg-cyan-100 h-20 flex items-center justify-start px-4'>
          <%= image_tag('avatar.png', alt: user.name, class: 'w-16 h-16 rounded-full') %>
          <div>
            <span class='mx-2 font-medium'><%= user.name %></span><br>
            <span class='mx-2 text-xs opacity-50'>Dumy text message</span>
          </div>
        </div>
      </div>
      <div>
        <span class='text-xs opacity-50'> 12/12/2020 </span>
      </div>
    </div>
  </div>
<%- end%>